@import "tailwindcss";
@import "tw-animate-css";
@import "../shared/lib/fonts.css";

@theme inline {
  /* --- SHADCN --- */
  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    @apply font-sans;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    color: var(--color-primary);
    overflow-x: hidden;
    white-space: pre-line;
    @apply bg-background text-foreground;
  }

  /* Улучшаем UX при фокусе с клавиатуры (доступность/Accessibility) */
  :focus-visible {
    outline: 2px solid var(--color-active);
    outline-offset: 2px;
  }

  /* Защищаем интерактивные элементы от случайного выделения текста пользователем */
  button, 
  .clickable {
    user-select: none;
    -webkit-user-select: none;
  }

  a, button, input, textarea {
    -webkit-tap-highlight-color: transparent;
  }

  /* Поведение картинок по умолчанию (чтобы они не ломали контейнеры) */
  img, svg {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  section + section {
    margin-top: 7.5rem;
  }

  @media (width <= --breakpoint-sm) {
    section + section {
      margin-top: 4rem;
    }
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@layer utilities {
  .font-involve { font-family: var(--font-involve); font-style: normal; font-weight: 300;}
  .font-involve\! { font-family: var(--font-involve)!important;}
  .font-inter { font-family: var(--font-inter); font-style: normal; font-weight: 300;}

  .mf-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    direction: ltr;
    contain: layout style size;
    pointer-events: none;
    transition: opacity 0.3s, color 0.4s;
  }

  .mf-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0.2);
    background: var(--color-active);
    border-radius: 50%;
    transition: transform 0.25s ease-in-out, opacity 0.1s;
  }

  .mf-cursor.-inverse {
    color: #000;
  }

  .mf-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }

  .mf-cursor.-exclusion:before {
    background: #000;
  }

  .mf-cursor.-pointer:before {
    transform: scale(0.15);
  }

  .mf-cursor.-text:before {
    opacity: 1;
    transform: scale(2.7);
    border: 2px solid var(--color-black);
  }

  .mf-cursor.-text.-active:before {
    transform: scale(1.6);
    transition-duration: 0.2s;
  }

  .mf-cursor.-icon:before {
    transform: scale(1.5);
  }

  .mf-cursor.-icon.-active:before {
    transform: scale(1.4);
  }

  .mf-cursor.-hidden:before {
    transform: scale(0);
  }

  .mf-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: var(--color-black);
    font-family: var(--font-involve); 
    font-style: normal; 
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    transition: opacity 0.4s, transform 0.3s;
  }

  .mf-cursor.-text .mf-cursor-text,
  .mf-cursor.-icon .mf-cursor-text {
    opacity: 1;
    transform: scale(1);
  }

  .mf-cursor-media {
    position: absolute;
    width: 400px;
    height: 400px;
    margin: -200px 0 0 -200px;
  }

  .mf-cursor-media img,
  .mf-cursor-media video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  @supports (object-fit: cover) {
    .mf-cursor-media img,
    .mf-cursor-media video {
      position: static;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateZ(0);
    }
  }

  .mf-cursor-media-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(0) translateZ(0);
    padding: 1px;
    opacity: 0;
    border-radius: 50%;
    transition: transform 0.35s, opacity 0.2s 0.2s;
  }

  .mf-cursor.-media .mf-cursor-media-box {
    opacity: 1;
    transform: scale(0.696);
    transition-duration: 0.4s, 0.4s;
    transition-delay: 0s, 0s;
  }
}

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.511 0.096 186.391);
  --primary-foreground: oklch(0.984 0.014 180.72);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.511 0.096 186.391);
  --accent-foreground: oklch(0.984 0.014 180.72);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.6 0.118 184.704);
  --sidebar-primary-foreground: oklch(0.984 0.014 180.72);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.437 0.078 188.216);
  --primary-foreground: oklch(0.984 0.014 180.72);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.437 0.078 188.216);
  --accent-foreground: oklch(0.984 0.014 180.72);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.704 0.14 182.503);
  --sidebar-primary-foreground: oklch(0.277 0.046 192.524);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}